name: Build signup docker image
on:
  push:
    paths:
      - 'services/signup/*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Publish signup to Docker Repository
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: saketthakare/signup:v1
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        workdir: ./services/signup