name: Build follow-read docker image
on:
  push:
    paths:
      - 'services/follow-read/*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Publish follow-read to Docker Repository
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: saketthakare/follow-read:v1
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        workdir: ./services/follow-read